<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>JSPWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
      <param-name>INIT-PARAM</param-name>
      <param-value>web.xml에 저장한 초기화 매개변수</param-value>
   </context-param>
  
  <!--오라클 접속정보를 컨텍스트 초기화 파라미터로 설정한다.
   해당 정보는 application 내장객체를 통해 값을 읽을 수 있다.  -->
  <context-param>
      <param-name>OracleDriver</param-name>
      <param-value>oracle.jdbc.OracleDriver</param-value>
   </context-param>
   <context-param>
      <param-name>OracleURL</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
   </context-param>
   <context-param>
      <param-name>OracleId</param-name>
      <param-value>sua_project</param-value>
   </context-param>
   <context-param>
      <param-name>OraclePwd</param-name>
      <param-value>1234</param-value>
   </context-param>
  
  <!-- 세션유지시간 설정: web.xml에서는 분단위로 지정한다.  -->
   <session-config>
         <session-timeout>20</session-timeout>
   </session-config>
  
  <!--
   한글깨짐에 대한 필터 설정 : 현재 개발중인 웹애플리케이션 전체에 
      해당 필터를 적용한다. 웹애플리케이션으로 들어오는 모든
      요청에 대해 문자 인코딩을 UTF-8로 처리한다.
      Tomcat10.1에서는 post로 전송시 한글깨짐 현상이 없으나
      이전 버전에서는 깨짐현상이 발생하므로 해당 필터설정이 꼭 필요하다.
     -->
   <filter>
       <filter-name>SetCharEncoding</filter-name>
       <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
         <init-param>
           <param-name>encoding</param-name>
           <param-value>utf-8</param-value>
         </init-param>
    </filter>
     <filter-mapping>
       <filter-name>SetCharEncoding</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
  
  <!--게시판 페이징 처리를 위한 파라미터 추가  -->
     <!--한 페이지에 출력할 게시물의 갯수 설정 : 10개씩 출력  -->
     <context-param>
        <param-name>POSTS_PER_PAGE</param-name>
        <param-value>10</param-value>
     </context-param>
     <!--한 블럭당 출력할 페이지 번호의 갯수 설정 : 5페이지씩 출력  -->
     <context-param>
        <param-name>PAGES_PER_BLOCK</param-name>
        <param-value>2</param-value>
     </context-param>
  
  
  <!-- 모델2 방식의 게시판을 위한 서블릿 매핑  -->
   <!-- 목록 -->
   <!-- <servlet>
      <servlet-name>MemberIdPW</servlet-name>
      <servlet-class>membership.IdPwController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>MemberIdPW</servlet-name>
      <url-pattern>/membership/id_pw.do</url-pattern>
   </servlet-mapping> -->
  
  
  
  
  
  
  
  
  
  
  
  
  
</web-app>